<h1>All Pets for <%= @owner.email %></h1>
<hr>
<% @owner.pets.each do |pet| %>
  <p>
    <strong><%= link_to pet.name, owner_pet_path(@owner, pet) %></strong>
    (a <%= my_format_age_helper pet.age %>-year old <%= pet.breed %>)
  </p>
<% end %>
<hr>
<%= link_to "add a pet", new_owner_pet_path(@owner) %>
