<h1>Show Pet</h1>
<hr>
<p><strong>Name:</strong> <%= @pet.name %></p>
<p><strong>Breed:</strong> <%= @pet.breed %></p>
<p><strong>Date of Birth:</strong> <%= @pet.date_of_birth.strftime("%B %e, %Y") %>
<p><strong>Age:</strong> <%= my_format_age_helper @pet.age %> years </p>
<p><%= link_to "edit pet", edit_owner_pet_path(@owner, @pet) %></p>
<hr>
<p><%= link_to "view all pets for owner #{@owner.email}", owner_pets_path(@owner) %></p>
